<div class="nav-wrapper">   
    <ul class="left">
        <li class="logo">
            <%= link_to home_index_path do %>
                <img src="/images/GM_Record.svg" alt="ERROR LOADING IMAGE" style="width: 50px; padding-top: 10px;" >
            <% end %>
        </li>
        <li class="app-name">
            <%= link_to  "GM Medan Portal", members_path %>
        </li>
        <!-- <li class="home nav-menu <%= is_active?("home") %>">
            <%= link_to  "Beranda", home_index_path %>
        </li> -->
        <li class="gm-data nav-menu <%= is_active?("members") %>">
            <%= link_to  "Data GM", members_path %>
        </li>
        <li class="event-data nav-menu <%= is_active?("events") %>">
            <%= link_to  "Data Acara", events_path %>
        </li>
        <li class="event-data nav-menu <%= is_active?("attendances") %>">
            <%= link_to  "Data Kehadiran", new_attendance_path %>
        </li>
        <li class="other-data nav-menu dropdown-trigger" data-target="dropdown1">
            <a href="#">Data lainnya</a>
            <ul id="dropdown1" class="dropdown-content">
                <li><%= link_to  "Data Cetya", cetyas_path %></li>
            </ul>
        </li>
    </ul>
    <% if user_signed_in? %>
      <ul class="right">
        <li>
            <span><%= current_user.email %></span>
        </li>
        <li>
          <%= link_to  "Keluar", destroy_user_session_path, 
              method: :delete , class: "nav-menu-btn btn red darken-4" %>
        </li>
      </ul>
    <% else %>
      <ul class="right">
          <li>
            <%= link_to  "Daftar", user_registration_path, 
                class: "nav-menu-btn btn regis-button" %>
          </li>
          <li>
            <%= link_to  "Masuk", new_user_session_path, 
                class: "nav-menu-btn btn sign-in-button" %>
          </li>
      </ul>
    <% end %>
</div>
