<div class="nav-wrapper">   
    <ul class="left">
        <li class="logo">
            <%= link_to home_index_path do %>
                <img src="/images/GM_Record.svg" alt="ERROR LOADING IMAGE" style="width: 50px; padding-top: 10px;" >
            <% end %>
        </li>
        <li class="app-name">
            <%= link_to  "GM Medan Portal", home_index_path %>
        </li>
        <li class="home nav-menu <%= is_active?("home") %>">
            <%= link_to  "Beranda", home_index_path %>
        </li>
        <li class="gm-data nav-menu <%= is_active?("members") %>">
            <%= link_to  "Data GM", members_path %>
        </li>
        <li class="event-data nav-menu <%= is_active?("events") %>">
            <%= link_to  "Data Acara", events_path %>
        </li>
        <li class="event-data nav-menu <%= is_active?("attendances") %>">
            <%= link_to  "Data Kehadiran", new_attendance_path %>
        </li>
        <li class="other-data nav-menu dropdown-trigger" data-target="dropdown1">
            <a href="#">Data lainnya</a>
            <ul id="dropdown1" class="dropdown-content">
                <li><%= link_to  "Data Cetya", cetyas_path %></li>
            </ul>
        </li>
    </ul>
    <ul class="right">
        <li>
            <a class="nav-menu-btn regis-button btn" style="margin-right: 10px;">Daftar</a>
        </li>
        <li>
             <a class="nav-menu-btn signin-button btn" style="margin-right: 20px;">Masuk</a>
        </li>
    </ul>
</div>
