<div class="container">
    <div class="row">
        <%= link_to new_member_path, class: "add-member btn" do %>
            <i class="material-icons"> add </i>
        <% end %>
    </div>
    <div class="row">
        <% if @members.blank? %>
            No data found!
        <% else %>
        <div class="flex-container">
            <% @members.each do |m| %>
                <div class="flex-content">
                    <p class="name">
                        <b><%= link_to member_path(m) do %><%= m.name %><% end %></b>
                    </p>
                    <p class="gender-age">
                        <span class="gender"><%= m.gender %></span>
                        <span class="age right"><%= m.age %></span>
                    </p>
                    <p class="cetya">
                        <%= m.cetya %>
                    </p>
                </div>                
            <% end %>
        </div>
        <% end %>
    </div>
</div>