<div class="container">
    <div class="row show-title">
        <h5><%= @member.name %></h5>
        <div class="divider"></div>
    </div>
    <div class="row buttons">
        <%= link_to edit_member_path, class: "btn btn-margin-r-10" do %>
            <i class="material-icons">edit</i>
        <% end %>
        <%= link_to member_path, method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-danger" do %>
            <i class="material-icons">delete_forever</i>
        <% end %>
    </div>
    <div class="row">
        <div class="col l6">
            <div class="row">
                <span class="col l4">Cetya</span>
                <span class="col l8">: <%= @member.cetya_name %></span>
            </div>
            <div class="row">
                <span class="col l4">Jenis Kelamin</span>
                <span class="col l8">: <%= @member.gender %></span>
            </div>
            <div class="row">
                <span class="col l4">Tempat dan Tanggal Lahir</span>
                <span class="col l8">: <%= @member.place_of_birth %>, <%= @member.date_of_birth.blank? ? "-" : @member.date_of_birth.strftime("%d-%b-%Y")  %></span>
            </div>
            <div class="row">
                <span class="col l4">Umur</span>
                <span class="col l4">: <%= @member.age %></span>
            </div>
            <div class="row">
                <span class="col l4">Nomor HP</span>
                <span class="col l8">: <%= @member.phone %></span>
            </div>
            <div class="row">
                <span class="col l4">Alamat</span>
                <span class="col l8">: <%= @member.address %></span>
            </div>
            <div class="row">
                <span class="col l4">Pendidikan terakhir</span>
                <span class="col l4">: <%= @member.education %></span>
            </div>
            <div class="row">
                <span class="col l4">ID Line</span>
                <span class="col l8">: <%= @member.line_id %></span>
            </div>
        </div>
        <% if @member.avatar.attached? %>
            <div class="col l6">
                <img class="member-avatar" src="<%= (url_for(@member.avatar)) %>" alt="">
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="divider"></div>
    </div>
    <div class="row">
        <span>Data Kehadiran: </span>
    </div>
    <div class="flex-container">
        <% @events_attended.each do |e| %>
            <div class="flex-content-members tooltipped" data-tooltip="Klik Nama Acara untuk lihat detail">
                <p class="name">
                    <%= link_to event_path(e.event_id) do %><%= e.name %><% end %>
                </p>
            </div>                
        <% end %>
    </div>
</div>