<div class="container">
    <div class="row show-title">
        <h4><%= @member.name %></h4>
        <div class="divider"></div>
    </div>
    <div class="row buttons">
        <%= link_to edit_member_path, class: "btn btn-margin-r-10" do %>
            <i class="material-icons">edit</i>
        <% end %>
        <%= link_to member_path, method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-danger" do %>
            <i class="material-icons">delete_forever</i>
        <% end %>
    </div>
    <div class="row">
        <span class="col l4">Jenis Kelamin</span>
        <span class="col l8">: <%= @member.gender %></span>
    </div>
    <div class="row">
        <span class="col l4">Tempat dan Tanggal Lahir</span>
        <span class="col l8">: <%= @member.place_of_birth %>, <%= @member.date_of_birth.blank? ? "-" : @member.date_of_birth.strftime("%d-%b-%Y")  %></span>
    </div>
    <div class="row">
        <span class="col l4">Umur</span>
        <span class="col l4">: <%= @member.age %></span>
    </div>
    <div class="row">
        <span class="col l4">Nomor HP</span>
        <span class="col l8">: <%= @member.phone %></span>
    </div>
    <div class="row">
        <span class="col l4">Alamat</span>
        <span class="col l8">: <%= @member.address %></span>
    </div>
    <div class="row">
        <span class="col l4">Pendidikan terakhir</span>
        <span class="col l4">: <%= @member.education %></span>
    </div>
    <div class="row">
        <span class="col l4">ID Line</span>
        <span class="col l8">: <%= @member.line_id %></span>
    </div>
</div>